@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Audiowide';
  src: url('/fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Custom global styles */
body {
  @apply bg-black text-white;
  font-family: 'Audiowide', sans-serif;
}

/* Custom utility class */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.invert-svg {
  filter: invert(1);
}
